          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/grast/snippet/<%= '15' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> BEBIDAS Y JUGO / LIC  ____bebidas_____15be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/grast/snippet/<%= '16' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> CERVEZA VARIAS        ____bebidas_____16be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/grast/snippet/<%= '17' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> VINO TINTO / BLANCO   ____bebidas_____17be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/grast/snippet/<%= '23' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> CHAMPAGNE Y SIDRAS    ____bebidas_____23be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/grast/snippet/<%= '24' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> LICOR /APERITIVO /WH  ____bebidas_____24be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
