          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/grast/snippet/<%= '3' %>" class="btn btn-warning btn-lg btn-block">                                     
                <h2 class="text-light"> SANDWICH              ____comidas_____03co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/grast/snippet/<%= '4' %>" class="btn btn-warning btn-lg btn-block">                                     
                <h2 class="text-light"> ARABES CALIENTES      ____comidas_____04co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/grast/snippet/<%= '5' %>" class="btn btn-warning btn-lg btn-block">                                     
                <h2 class="text-light"> PIZZAS GRANDE         ____comidas_____05co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/grast/snippet/<%= '6' %>" class="btn btn-warning btn-lg btn-block">                                     
                <h2 class="text-light"> PIZZAS CHICA          ____comidas_____06co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/grast/snippet/<%= '7' %>" class="btn btn-warning btn-lg btn-block">                                     
                <h2 class="text-light"> PIZZAS PORCION        ____comidas_____07co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/grast/snippet/<%= '8' %>" class="btn btn-warning btn-lg btn-block">                                     
                <h2 class="text-light"> EMPANADAS Y TARTAS    ____comidas_____08co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/grast/snippet/<%= '9' %>" class="btn btn-warning btn-lg btn-block">                                     
                <h2 class="text-light"> ENTRADA FRIA          ____comidas_____09co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/grast/snippet/<%= '10' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> ENSALADAS             ____comidas_____10co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/grast/snippet/<%= '11' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> MINUTAS VARIAS        ____comidas_____11co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/grast/snippet/<%= '12' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> TORTILLA  / OMELETTE  ____comidas_____12co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/grast/snippet/<%= '13' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> POLLO ESPECIALES      ____comidas_____13co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/grast/snippet/<%= '14' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> PASTAS Y SALSAS       ____comidas_____14co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/grast/snippet/<%= '20' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> PROMO PIZZAS          ____comidas_____20co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/grast/snippet/<%= '21' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> PESCADO VARIOS        ____comidas_____21co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/grast/snippet/<%= '22' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> PARRILLAS VARIAS      ____comidas_____22co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/grast/snippet/<%= '25' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> PLATOS CALIENTES      ____comidas_____25co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
